html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  //vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: "SF Pro TC","SF Pro Display","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body {
  background-color: #F4F6FD;
}
a, a:hover, a:focus, a:visited {
  text-decoration: none;
}

.page-enter-active, .page-leave-active {
  transition: all .2s;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform: translateX(12px);
}

#footerBar{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 58px;
  text-align: center;
  background-color: #F4F6F9;
  border-top: 1px solid #D9E3E5;
  transition: all 0.5s;
}
.pd20{
  padding: 20px;
}
.bgcB{
  background-color: #2D5D8C;
}

table.gTable{
  td,th{
    color: #9BB6D7;
    padding: 9px 3px;
    text-align: right;
    .el-input{
      width: 136px;
      .el-input__inner{
        /*height: 26px;*/
        text-align: right;
        font-size: 18px;
        color: #1E8F8B;
      }
    }
  }
}




//.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
//  border: 1px solid #d1dbe5;
//  border-bottom-color: #fff;
//  border-radius: 4px 4px 0 0;
//  background-color: #F4F6FF;
//}
//.el-tabs.el-tabs--card{
//  background-color: #F4F6FF;
//}
//.el-tabs__nav-scroll{
//  background-color: #2D5D8C;
//}


.containerNuxt>div{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 58px;
  overflow-x: auto;
  overflow-y: auto;
}