extend /layout

block content
  div.row
    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      div.panel.panel-default
        div.panel-heading 帳號登入
        div.panel-body
          form(action=action, method="POST", autocomplete="off")
            input(type="hidden", name="_csrf", value=_csrf)
            div.form-group
              label(for="login") 帳號或電子郵件
              input.form-control(type="text", id="login", name="login", placeholder="請輸入帳號或電子郵件", value=login)
            div.form-group
              label(for="password") 密碼
              input.form-control(type="password", id="password", name="password", placeholder="密碼")
            if error
              div.alert.alert-warning #{error}
            input(type="submit", class="btn btn-primary btn-block", value="登入")
          div.text-center(style="margin-top: 15px;")
            small: a(href="/forgot-password") 忘記密碼?
